<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SMJ Admin Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
</head>

<body>
    <!-- Header Section -->
    {{> admin/header}}

    <!-- Body Section -->
    <div class="container-fluid">
        <div class="row">
            <!-- Left Navigator Section -->
            {{> admin/nav}}

            <!-- Main Content Section -->
            <main role="main" class="col-sm-10 ml-sm-auto p-0">
                <!-- HERE::Main Content -->
                <div class="jumbotron py-4 mb-2">
                    <h1 class="h2 mb-4">User</h1>
                    <form method="POST" action="/user/{{user.id}}/update" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="email" class="col-sm-1 col-form-label col-form-label-sm">Email</label>
                            <div class="col-sm-5">
                                <input type="email" class="form-control form-control-sm" id="email" name="email" value="{{user.email}}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nickname" class="col-sm-1 col-form-label col-form-label-sm">Nickname</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control form-control-sm" id="nickname" name="nickname" value="{{user.nickname}}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nickname" class="col-sm-1 col-form-label col-form-label-sm">Image</label>
                            <div class="col-sm-5">
                                <input type="file" class="form-control form-control-file form-control-sm" id="image" name="profile_image">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm">
                                <a role="button" class="btn btn-dark" href="/user">Back</a>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>

                    <div class="container">
                        <p>Current image</p>
                        <img src="{{#user.image}}{{.}}{{/user.image}}" width="320" height="320" alt="Image not exist"/>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>