<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Message</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        #content {
            height: 10rem;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/navbar-top.css" rel="stylesheet">
</head>
<body>
<main role="main" class="container mt-3">
    <div class="jumbotron pt-3">
        <div class="row">
            <a href="/message" role="button" class="btn btn-primary ml-auto mr-0">Back</a>
        </div>
        <div class="row">
            <div class="col">
                <h2>{{message.message_id}}번 메세지</h2>
            </div>
        </div>
        <hr />
        <div class="row mb-2">
            <div class="col">
                <h4>{{message.sender}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{message.receiver}}</p>
            </div>
        </div>
    </div>
    <hr />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.slim.min.js"></script>
</body>
</html>
