<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width-device-width, initial-scale=1, shrink-to-fit=no">
    <title>CRUD main</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        #content {
            height: 10rem;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/navbar-top.css" rel="stylesheet">
</head>
<body>
    <main role="main" class="container mt-3">
        <div class="jumbotron">
            <h2>게시글 입력</h2>
            <form method="POST" action="/board">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="title">제목</label>
                        <input type="text" name="title" class="form-control" id="title" required placeholder="제목을 입력하세요.">
                    </div>
                    <div class="form-group col-md-2">
                        <label><input type="checkbox" name="type" value="꿀팁게시판" checked>꿀팁게시판</label>
                        <label><input type="checkbox" name="type" value="거래게시판">거래게시판</label>

                    </div>

                </div>

                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea class="form-control" name="content" id="content" placeholder="내용을 입력하세요."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">save</button>
            </form>
        </div>
    </main>
    <hr/>


    <main role="main" class="container mt-5">
        <h2 class="mt-1">게시글 목록</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">no.</th>
                <th scope="col">유형</th>
                <th scope="col">Title</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody>
            {{#boardList}}
            <tr>
                <td scope="row">{{board_id}}</td>
                <td><a href="/board/{{board_id}}" target="_self">{{type}}</a></td>
                <td><a href="/board/{{board_id}}" target="_self">{{title}}</a> </td>
                <td>
                    <form action="/board/{{board_id}}/delete" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td>
                    <form action="/board/{{board_id}}/edit" method="post">
                        <button type="submit" class="btn btn-dark">Update</button>
                    </form>
                </td>
            </tr>
            {{/boardList}}
            {{^boardList}}
            <tr>
                <td colspan="5" class="text-center">게시글이 없습니다.</td>
            </tr>
            {{/boardList}}
            </tbody>
        </table>
    </main>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.slim.min.js"></script>
</body>
</html>