
    <h2 class="mt-1">도메인목록</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">알람</th>
            <th scope="col">게시판</th>
            <th scope="col">댓글</th>
            <th scope="col">메세지</th>
            <th scope="col">유저</th>
        </tr>
        <tr>
            <td>
                <input type="button" value="알람목록(관리자용)" class="btn btn-danger" onclick="location.href='/alarm'">
            </td>
            <td>
                <input type="button" value="게시판목록(관리자용)" class="btn btn-danger" onclick="location.href='/board'">
            </td>
            <td>
                <input type="button" value="댓글목록(관리자용)" class="btn btn-danger" onclick="location.href='/comment'">
            </td>
            <td>
                <input type="button" value="메세지목록(관리자용)" class="btn btn-danger" onclick="location.href='/message'">
            </td>
            <td>
                <input type="button" value="유저목록(관리자용)" class="btn btn-danger" onclick="location.href='/user'">
            </td>

        </tr>
        </thead>


    </table>
